:root {
--dark_green: #07672d;
--dark_grey: #272727;
--dark_grey_indigo: #383550;
--green: #59d088;
--blue: #6787c7;
--pastel_blue: #6fa3fd;
--azure: #79b7eb;
--lavander: #a359d0;
--light_blue: #b4ccff;
--gray_orange: #c56824;
--vivid_red: #ed2626;
--vivid_red2: #ed4426;
--vivid_orange: #f26641;
--orange: #f2ae1c;
--light_yellow: #f2eddb;
--light_crimson: #f7a4bd;
--orange2: #fecc5d;
}


html, body, #root {
  background-image: url("./assets/back.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Arturo';
  src: url('./assets/arturo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.section {
  background: var(--light_blue);
  padding: 5px 10px;
  text-align: center;
  display: flex;
  flex-direction: row;   
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.scroll-container {
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {

  .arrow-btn {
    display: none;
  }
}

.about-short {
  display: none;
}

.hero-about-text {
  margin: 0 0 14px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: white;
}

/* mobile */
@media (max-width: 768px) {
  .about-full {
    display: none;
  }

  .about-short {
    display: block;
  }

  .hero-about-text {
    font-size: 16px;
    line-height: 1.5;
  }
}